/* SECTION FOR TESTING WEB - DO NOT USE*/
* {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    text-transform:uppercase;
}

h1 {
    font-weight:300;
}
/* END SECTION FOR TESTING WEB */

body {
    background-color: #e0e0e0;
    /* min-width: 752px; */
}

@media screen and (min-width: 992px) {
    .k-tabstrip.k-header > ul.k-reset {
        display: flex;
        justify-content: left;
        width: 100%;
    }
    .k-tabstrip.k-header > ul.k-reset > li {
        flex: 0 1 auto;
    }
}
.k-tabstrip-items .k-item {
    background: white;
}
div.k-tabstrip{
    background: none transparent;
    border-width: 0;
}
div.k-tabstrip .k-tabstrip-items{
    padding: 0;
}
div.k-tabstrip .k-content{
    margin: 0;
}
div.k-tabstrip:focus {
    box-shadow: none;
}

.k-dropdown-wrap>.k-input, .k-dropdown .k-dropdown-wrap .k-select, .k-list{
    background-color: white;
}

#tabstrip.k-widget .row * {
    box-sizing: border-box;
}

.section-wrapper{
    padding: 15px !important;
}

.nomarg{margin:0px;}
.nomarg1{margin-top:10px; margin-bottom:0px;}

#top10FDI #top20grid #clustersgrid, .k-grid-header{padding: 0 !important;}
#top10FDI #top20grid #clustersgrid, .k-grid-content{overflow-y: visible;}
.gridcol-leftalign{text-align:left;}
#top10FDI {font-size: 13px; margin-left: 5%; margin-right: 5%;}
#clustersgrid {font-size: 13px; margin-left: 10%; margin-right: 10%;}
.top20sharesection {margin-top: 10%; margin-bottom: 10%;}

#clustergrid {font-size: 13px; margin-left: 10%; margin-right: 10%;}
/* #clusterchart {margin-top:3%;margin-bottom:3%;} */

.titlebox {margin-bottom:20px;}
.container {margin-bottom:20px;}
.overviewreset {margin-bottom:15px;}
.fdireset {margin-bottom:5px;}

#top20gridbykeyind {margin-left:20%;margin-right:20%;}
#top20gridbycluster {margin-left:10%;margin-right:10%;}
#top20grid {margin-left:10%;margin-right:10%;}
#keyindgrid {margin-left: 15%; margin-right:15%;}
#fdiclusters {margin-left:40%;margin-right:40%;}